body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #b963c6;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1rem;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recipe {
    background-color: #f3e5f5;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
}

.recipe h2 a {
    color: #ff6f61;
    text-decoration: none;
}

.recipe h2 a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
